.navbar-brand {
    text-align: center;
    font-size: 25px;
    
}

body {
    background-color: teal;
}

#navbar {
    text-align: center;
}

h1 {
    font-weight: bold;
}
h2 {
    font-weight: bold;
}